node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
dist
build
coverage
*.test.ts
*.spec.ts
packages/*/node_modules
packages/*/dist
packages/*/build
